@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, ::before, ::after {
    padding: inherit;
    margin: inherit;
    box-sizing: border-box;
}

main a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #205d54;
    font-weight: bold;
}

main a:hover {
    font-size: 1.2em;
    text-decoration: underline;
}

body {
    display: flex;
    font-family: 'Open Sans', Arial, sans-serif;
    overflow: hidden;
}

nav {
    border-right: 5px solid #205d54;
    flex-basis: 25%;
    max-height: 100vh;
}

code {
    margin: 0 40px;
    display: block;
    background-color: #c6f9a7;
    color: red;
    word-wrap: break-word;
    line-height: 2em;
    border-radius: 10px;
}

p {
    padding-bottom: 0.3em;
    line-height: 2em;
}

code span {
    color: #205d54;
    margin: 0;
    padding: 0;
}

nav section {
    overflow: scroll;
    max-height: 90vh;
}

nav .nav-link {
    display: block;
    padding: 10px 10px 10px 30px;
    color: #205d54;
    text-decoration: none;
    border-bottom: 2px solid #205d54;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-link i {
    display: none;
}

nav .nav-link:hover {
    background-image: linear-gradient(to top left, #205d54, #c6f9a7);
    color: #fff;
}

nav .nav-link:hover i {
    display: block;
}

nav header {
    font-weight: thin;
    font-size: 1.8em;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to top left, #205d54, #c6f9a7);
    color: #fff;
}

main {
    flex-basis: 75%;
    padding: 1em;
    overflow: scroll;
    max-height: 100vh;
}

#menuDrop, #closeMenu {
    display: none;
    font-size: 1.8em;
    color: #fff;
    position: fixed;
    top: 18px;
    right: 18px;
}

main header {
    font-weight: 300;
    font-size: 1.8em;
    padding: 5px 0;
    border-bottom: 2px solid #205d54;
    color: #205d54;
}

main ul li {
    margin: 0 0 0 50px;
    list-style: "👉";
    padding: 5px 1em;
    line-height: 2em;
}

main ul li ul li {
    margin: 0;
    list-style: "🐍";
}

#socialMedia {
    padding: 0.9em;
    position: fixed;
    top: 50%;
    right: 5px;
    display: flex;
    flex-direction: column;
    transform: translateY(-60%);
    font-size: 1.8em;
    color: #205d54;
    text-align: center;
}

#goBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top left, #205d54, #c6f9a7);
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    body {
        display: block;
        overflow: auto;
    }

    nav section {
        display: none;
    }

    #menuDrop {
        display: block;
    }

    #closeMenu {
        display: block;
    }

    main {
        padding: 0.5em;
    }

    main ul li {
        padding: 5px 0.5em;
        margin: 0 0 0 30px;
    }
}



